:root {
    --pixel-size: 3;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Jersey 10";
}


@keyframes scroll-background {
    from {
        background-position: 100000px 0;
    }

    to {
        background-position: -100000px 0;
    }
}

body {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-image: url("stock-img/backgroundMoving.png");
    /* background-image: url("https://images6.alphacoders.com/641/thumb-1920-641430.jpg"); */
    background-repeat: repeat-x;
    background-size: auto 100vh;
    background-attachment: fixed;
    animation: scroll-background 10000s linear infinite;
    padding: 0;
    margin: 0;
    overflow:hidden ;

}

main {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

/* POKEMON CAUGHT */

.pokedexIcon {
    height: 100px;
    position: fixed;
    top: 32px;
    left: 70px;
    cursor: pointer;
}

.shinyIcon {
    height: 20px;
    position: absolute;
    top: 10px;
    left: 190px;
    cursor: pointer;
    
}

.shinyIcon:not(.on) {
    filter: grayscale(1);
}

.pokedexIcon:active {
    transform: scale(0.9);
}

.caughtPokemonContainer {
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    width: 410px;
    max-width: 80%;
    position: fixed;
    top: 150px;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.76);
    border: solid 3px rgb(99, 34, 34);
    height: 60%;
    display: none;
    padding: 2rem;
}

.caughtPokemonContainer.show {
    display: block;
}

.caughtPokemon::-webkit-scrollbar {
    width: .1rem;
}

.caughtPokemon::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.shinyCaughtPokemon::-webkit-scrollbar {
    width: .1rem;
}

.shinyCaughtPokemon::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.caughtPokemon {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0px;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

.shinyCaughtPokemon {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0px;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    display : none;
}

.pokemonLittleIMG {
    height: 65px;
}

.shinyPokemonLittleIMG {
    height: 65px;
}

.pokemonLittleIMG:not(.caught) {
    filter: grayscale(1);
}

.shinyPokemonLittleIMG:not(.caught) {
    filter: grayscale(1);
}



/* ALL POKEDEX */

.pokeballIcon {
    height: 50px;
    cursor: pointer;
    position: fixed;
    top: 60px;
}

.pokeballIcon:active {
    transform: scale(0.9);
}

.pokedexTitle {
    color: white;
    font-weight: 400;
    text-align: center;
}

.pokedexContainer {
    display: none;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    max-width: 80%;
    width: 250px;
    position: fixed;
    top: 150px;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.76);
    padding: 2rem;
    border: solid 3px rgb(99, 34, 34);
    height: 60%;
}

.pokedexContainer.show {
    display: block;
}

.pokemonStorage {
    display: flex;
    flex-wrap: nowrap;
    max-height: 100%;
}

.pokedexList {

    max-width: 400px;
    list-style: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 0;
}

.pokedexList::-webkit-scrollbar {
    width: .1rem;
}

.pokedexList::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.pokedexList img {
    width: 5rem;
    height: 5rem;
}

.pokemonTitle {
    color: whitesmoke;
    font-weight: 500;
}

.pokedexItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1.5rem;
    /* padding-left: 0; */
}

/* TRAINER CONTAINER AND ANIMATION */

.trainerSwitch {
    height : 60px;
    position: fixed;
    top : 50px; 
    left : 160px;
    cursor: pointer;
}

.trainerSwitch:active {
    transform: scale(0.9);
}

.walkingTrainer {
    width: calc(64px * var(--pixel-size));
    height: calc(64px * var(--pixel-size));
    overflow: hidden;
    position: fixed;
    top: 65%;
    right: 50%;
    translate: 50%;
    transition: 0.05s;
}

.walkingTrainer:hover {
    transform: scale(1.3);
}

.walkingTrainer:active {
    transform: scale(1);
}

.walkingSprite {
    animation: moveSpritesheet 1s steps(4) infinite;
    width: calc(256px * var(--pixel-size));
    position: absolute;
    top: calc(-128px * var(--pixel-size));
    cursor: pointer;
    -webkit-user-drag: none;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}

.walkingPikachu {
    width: calc(64px * var(--pixel-size));
    height: calc(64px * var(--pixel-size));
    overflow: hidden;
    position: fixed;
    top: 64%;
    right: 60%;
    translate: 20%;
    display: none;
    z-index: -100;
}

.pikachuSprite {
    animation: moveSpritesheetPikachu 1s steps(4) infinite;
    width: calc(256px * var(--pixel-size));
    position: absolute;
    top: calc(-128px * var(--pixel-size));
}

@keyframes moveSpritesheetPikachu {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}



.walkingMew {
    width: calc(64px * var(--pixel-size));
    height: calc(64px * var(--pixel-size));
    overflow: hidden;
    position: fixed;
    top: 40%;
    right: 65%;
    translate: 20%;
    display: none;
    z-index: -100;
}

.mewSprite {
    animation: moveSpritesheetMew 1s steps(4) infinite;
    width: calc(256px * var(--pixel-size));
    position: absolute;
    top: calc(-128px * var(--pixel-size));
}

@keyframes moveSpritesheetMew {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}


.pixelArt {
    image-rendering: pixelated;
}


/* ALL STEP SIGN */

.stepSign {
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    color: whitesmoke;
    max-width: auto;
    max-height: auto;
    text-align: center;
    position: fixed;
    top: 100px;
    right: 70px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.76);
    border: solid 3px rgb(99, 34, 34);
}

.stepSign h3 {
    font-weight: 500;
}

.stepIndicator {
    font-weight: 100;
}

.mapRoadsIMG {
    height: 9rem;
    width: 10rem;
}

.stepIndicator {
    font-weight: 400;
}


.pokemonRadarContainer {
    position: fixed;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    width: 165px;
    max-width: 80%;
    top: 300px;
    right: 70px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.76);
    border: solid 3px rgb(99, 34, 34);
    max-height: 300px;
    height: auto;
    padding: 1rem;
    overflow-y: auto;
    display: none;
}

.pokemonRadarContainer.show {
    display: block;
}

.pokemonRadarContainer::-webkit-scrollbar {
    width: .1rem;
}

.pokemonRadarContainer::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.pokemonRadar {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 5px;
    scroll-behavior: smooth;
    width: 90%;
    height: 90%
}

.pokemonLiRadar {
    display: flex;
    padding-left: 10px;
}

.pokemonRadarTitle {
    color: whitesmoke;
    text-align: center;
    padding-right: 5px;
}

.pokemonRadarLittleIMG {
    height: 50px;
    margin: -5px;

}

.pokemonRadarLittleIMG:not(.caught) {
    filter: grayscale(1);
}

.compass {
    height: 40px;
    cursor: pointer;
    position: fixed;
    top: 100px;
    right: 20px;
}

.compass:active {
    transform: scale(0.9);
}

/* HEADER */

.diode-container {
    background-color: rgb(99, 34, 34);
    padding: 0;
    width: 100%;
    gap: 2rem;
    position: fixed;
    box-shadow: 0px 2px 8px black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    padding: 0;
    width: 100%;
}

header div {
    display: flex;
    align-items: center;
}

.logo {
    height: 140px;
    padding-top: 10px;
    z-index: 1000;
    filter: drop-shadow(-4px 2px 4px rgba(0, 0, 0, 0.658));
}

h1 {
    color: white;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.658);
    padding-left: 20px;
    padding-top: 45px;
    font-weight: 500;
    font-size: 70px;
}

.blue-diode {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(63, 63, 189);
    border: 0.3rem solid white;
    margin: 7px;
    box-shadow: inset 0px 2px 10px rgb(0, 0, 0.685);
}

.red-diode,
.yellow-diode,
.green-diode {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.red-diode {
    background-color: rgb(126, 15, 15);
    box-shadow: inset 0px 2px 6px rgb(0, 0, 0.685);
}

.yellow-diode {
    background: rgb(199, 199, 68);
    box-shadow: inset 0px 2px 6px rgb(0, 0, 0.685);
}

.green-diode {
    background-color: rgb(59, 139, 59);
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.685);
}

.pokeball {
    width: 5rem;
    margin-top: 20rem;
}

/* Fait des effets de clignotement sur les diodes */

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}

.blue-diode {
    animation: blink 2s infinite;
}

.red-diode {
    animation: blink 2s infinite;
}

.yellow-diode {
    animation: blink 2s infinite;
}

.green-diode {
    animation: blink 2s infinite;
}

.black-diode {
    animation: blink 2s infinite;
}

.red-diode2 {
    animation: blink 2s infinite;
}

.blue-diode2 {
    animation: blink 2s infinite;
}

/* FOOTER */

.diode-footer {
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 0;
    gap: 1rem;
    max-width: 27rem;
}

.black-diode {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(26, 26, 26);
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.685);
}

.red-diode2 {
    width: 8rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #9e0e40;
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.685);
}

.blue-diode2 {
    width: 8rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgb(66, 66, 153);
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.685);
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    padding: 10px;
    width: 100%;
    bottom: 0%;
    background-color: rgb(99, 34, 34);
    color: white;
    box-shadow: 0px -2px 8px black;
    ;
}

.touch {
    width: 2rem;
}


@media screen and (max-width: 950px) {

    /* HEADER */

    .logo {
        position: fixed;
        top: -6px;
        right: 10px;
        height: 50px;
    }

    h1 {
        text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.658);
        font-size: 25px;
        font-weight: 400;
        position: fixed;
        top: -35px;
        right: 55px;
    }

    /* FOOTER */

    .diode-footer {
        display: none;
        align-items: start;
        justify-content: start;
        padding: 0;
        gap: 1rem;
        max-width: 27rem;
    }

    .stepSign {
        position: fixed;
        top: 65px;
        right: 20px;
    }

    .caughtPokemonContainer {
        width: 410px;
        max-width: 80%;
        position: fixed;
        top: 120px;
        height: 45%;
    }

    .pokedexContainer {
        max-width: 80%;
        width: 300px;
        position: fixed;
        top: 120px;
        height: 45%;
        padding-left: 3.5rem;
    }

    .mapRoadsIMG {
        display: none;
    }

    .compass {
        height: 40px;
        top: 66px;
        right: 185px;
    }

    .pokemonRadarContainer {
        width: 165px;
        max-width: 80%;
        top: 120px;
        right: 20px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.76);
        border: solid 3px rgb(99, 34, 34);
        max-height: 300px;
        height: auto;
        padding: 1rem;
        overflow-y: auto;
        display: none;
     }

    }