@keyframes scroll-background {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1000% 0;
    }
}

body {
    background-image: url("stock-img/backgroundMoving.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    background-attachment: fixed;
    animation: scroll-background 3s linear infinite;
}